@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.head {
  background: url('../images/bg1.png') no-repeat center;
  background-size: cover;
  padding: 108px 0 108px;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  nav {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    &:after {
      content: " ";
      clear: both;
      display: block;
    }
    .nav-logo {
      float: left;
    }
    .nav-phone {
      float: right;
      color: #c5e635;
      font-family: "Futura Demi C";
      font-size: 24px;
      font-weight: 400;
      margin-top: 20px;
      line-height: 1;
    }
  }
}

.head-content {
  background: url('../images/border.png') no-repeat center;
  padding: 58px 99px;
  background-size: 100%;
  width: 100%;
  position: relative;
  .border {
    width: 11px;
    height: 113px;
    position: absolute;
    top: 149px;
    left: 0;
    background-color: rgba(197, 230, 53, 0.05);
    &:before {
      content: "";
      width: 18px;
      height: 113px;
      background-color: rgba(197, 230, 53, 0.1);
      position: absolute;
      top: 0;
      left: 13px;
    }
    &:after {
      content: "";
      width: 35px;
      height: 113px;
      background-color: rgba(197, 230, 53, 0.2);
      position: absolute;
      top: 0;
      left: 33px;
    }
  }
}

.date {
  span {
    color: #c5e635;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
  p {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    color: #f1ecf0;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
  }
}
* {
  line-height: 1.2;
}

.head-title {
  color: #ffffff;
  font-family: "Futura Demi C";
  font-size: 60px;
  font-weight: 400;
  margin-top: 37px;
  margin-bottom: 40px;
  span {
    color: #c5e635;
    display: block;
    letter-spacing: 12px;
  }
  letter-spacing: 6px;
}

.head-info {
  color: #ffffff;
  font-family: "Futura Demi C";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  span {
    color: #c5e635;
  }
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.registration-btn {
  color: #000000;
  font-family: "Futura Demi C";
  font-size: 24px;
  font-weight: 400;
  background: #b1cf2c;
  padding: 21px 35px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c5e635;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
  
}
.registration-btn:hover:before, .registration-btn:focus:before, .registration-btn:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.info {
  padding-top: 71px;
  position: relative;
  z-index: 5;
}

.info-item {
  padding-left: 99px;
  p {
    max-width: 600px;
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    span {
      color: #9eba24;
    }
  }
  h3 {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-top: 25px;
  }
}

.title {
  color: #000000;
  font-family: "Futura Demi C";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 60px;
  text-transform: uppercase;
  span {
    color: #b1cf2c;
    display: inline-block;
  }
}

.info-img {
  float: right;
}

.info-block {
  margin: 50px -15px 0;
  .item {
    display: inline-block;
    max-width: 550px;
    vertical-align: top;
    padding: 85px 95px;
    background: url('../images/1aw4d6.png') no-repeat center;
    background-size: cover;
    h4 {
      color: #c5e635;
      font-family: "Futura Demi C";
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin: 0;
    }
    p {
      margin-top: 30px;
      color: #ffffff;
      font-family: "Futura Demi C";
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
      span {
        color: #c5e635;
      }
    }
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    &:last-child {
      background: url('../images/fsde48.png') no-repeat center;
      margin-left: 30px;
      h4 {
        color: #000000;
      }
      p {
        color: #000000;
        span {
        color: #c5e635;
      }
      }
    }
  }
}

.selling {
  background-color: #2f2b2c;
  margin-top: -60px;
  padding: 120px 0 140px;
  .container {
    max-width: 996px
  }
}

.selling-title {
  color: #fff;
}

.selling-img {
  text-align: center;
}
.selling-item {

  p {
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    max-width: 620px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      color: #c5e635;
    }
  }
}


.mb40 {
  margin-bottom: 40px;
}

.box_info {
  background: url('../images/sd48f7.png') no-repeat center;
  padding: 86px 100px 60px;
  max-width: 1144px;
  margin: -86px auto 0;
  text-align: center;
  position: relative;
  z-index: 5;
  h2 {
    color: #ffffff;
    font-family: "Futura Demi C";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: left;
    margin: 0 0 45px;
    span {
      color: #c5e635;
    }
  }
}

.reviews {
  padding: 44px 0;
  .registration-btn {
    margin-top: 20px;
  }
  .container {
    max-width: 1048px;
  }
  img {
    max-width: 100%;
  }
  h2 {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
  }
  .col-lg-6 {
    &:first-child {
      padding-right: 50px;
      border-right: 2px solid #e6e6e6;
    }
    &:last-child {
      padding-left: 50px;
    }
  }
}

.reviews-item {
  margin-top: 70px;
  p {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 40px;
    span {
      color: #c5e635;
    }
  }
  
}

.reviews-author {
  text-align: right;
  img {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    
       vertical-align: middle;

  }
}

.text-center {
  text-align: center;
}

.whom {
  background-image: url('../images/whom.png');
  background-color: #2f2b2c;
  background-position: center;
  background-repeat: no-repeat;
  padding: 78px 0;
  .container {
    max-width: 986px;
  }
}

.whom-title {
  color: #fff;
}

.whom-item {
  margin-top: 50px;
  img {
    max-width: 100%;
  }
  h3 {
    color: #c5e635;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0;
  }
  p {
    color: #ffffff;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
    min-height: 64px;
  }
  .registration-btn {
    margin-top: 18px;
  }
}

.bonus {
  padding: 90px 0;
}

.bonus-img {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.bonus-item {
  max-width: 450px;
  .title {
    margin-bottom: 30px;
  }
  p {
    color: #000000;
  font-family: "Futura Demi C";
  font-size: 18px;
  font-weight: 400;
    margin-bottom: 20px;
  }
}

.result {
  .container {
    max-width: 1170px;
  }
  .registration-btn {
    margin-top: 80px;
  }
}

.result-item {
  background: url('../images/1as6.png') no-repeat center;
  background-size: cover;
  padding: 80px 60px 60px;
}

.result-title {
  color: #fff;
}

.result-img {
  min-height: 83px;
  margin-bottom: 45px;
  text-align: center;
}

.result-info {
  text-align: center;
  color: #ffffff;
  font-family: "Futura Demi C";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.programs {
  .container {
    max-width: 1170px;
  }
  padding: 115px 0;
  .programs-title {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    span {
      color: #b1cf2c;
    }
  }
  .programs-items {
    text-align: center;
    .item {
      padding: 33px 80px 32px 45px;
      position: relative;
      border: 10px solid #ebebeb;
      text-align: left;
      transition: 0.2s;
      margin-bottom: 28px;
      &.active {
        border: 10px solid #c5e635;
        .eye {
          background-color: #ebebeb;
          transform: none;
          top: inherit;
          bottom: 15px;
          &:before {
            opacity: 0.8;
          }
        }
        .more {
//          display: block;
        }
      }
      .eye {
        width: 67px;
        height: 67px;
        background: #c5e635;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 15px;
        transition: 0.2s;
        &:before {
          content: "";
          background: url('../images/215527.png') no-repeat center;
          width: 40px;
          height: 24px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: 0.2s;
        }
      }
      .more {
        display: none;
        margin-top: 20px;
        color: #000000;
        font-family: "Futura Demi C";
        font-size: 17px;
        font-weight: 400;
        /* Text style for "Продажи в" */
        
        h4 {
          text-transform: uppercase;
        }
        p {
          margin-bottom: 0;
        }
        ul {
          margin: 0 0 20px;
          list-style: none;
          padding: 0;
          li {
            padding-left: 28px;
            position: relative;
            &:before {
              content: "";
              width: 8px;
              height: 8px;
              background-color: #c5e635;
              position: absolute;
              top: 3px;
              left: 0;
            }
          }
         }
      }
      &:before {
        content: "";
        height: 23px;
        width: 23px;
        background: #fff;
        position: absolute;
        top: 41px;
        left: -13px;
      }
      h3 {
        color: #000000;
        font-family: "Futura Demi C";
        font-size: 35px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        line-height: 1;
        cursor: pointer;
        span {
          color: #b1cf2c;
        }
        letter-spacing: 2.7px;
      }
      
    }
    
  }
}

.price {
  background: url('../images/sedfWSE.png') no-repeat center;
  background-size: cover;
  padding: 68px 0 110px;
  .container {
    max-width: 1170px;
  }
}

.price-title {
  color: #fff;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.price-block {
  text-align: center;
  .price-item {
    max-width: 264px;
    display: inline-block;
    background-color: rgba(25, 23, 23, 0.8);
    vertical-align: top;
    min-height: 858px;
    text-align: left;
    width: 100%;
    margin-right: 20px;
    &:nth-child(1) {
      .bottom {
        ul {
            margin-bottom: 397px;
      }
      }
    }
    &:nth-child(2) {
      .bottom {
        ul {
              margin-bottom: 397px;
        }
        
      }
    }
    &:nth-child(3) {
      .bottom {
        ul {
              margin-bottom: 159px;
        }
        
      }
    }
    &:nth-child(4) {
      margin-right: 0;
      .bottom {
        ul {
           margin-bottom: 35px;
        }
      }
    }
    .top {
      background-color: #2f2b2c;
      padding: 18px 10px;
      h4 {
        color: #ffffff;
        font-family: "Futura Demi C";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0;
        line-height: 1;
        sup {
          color: #c5e635;
        }
      }
    }
    .bottom {
      padding: 22px 10px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        max-width: 220px;
        li {
          color: #ffffff;
          font-family: "Futura Demi C";
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          line-height: 1.2;
        }
      }
      .registration-btn {
        font-size: 18px;
        padding-left: 22px;
        padding-right: 22px;
      }
      .price-summ {
        margin-bottom: 25px;
        .item {
          color: #ffffff;
          font-family: "Futura Demi C";
          font-size: 18px;
          font-weight: 400;
          display: inline-block;
          vertical-align: top;
          width: 49%;
          &.old {
            span {
              color: #717171;
              position: relative;
              &:before {
                content: "";
                width: 54px;
                height: 2px;
                background-color: #c5e635;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }
          span {
            display: block;
            color: #c5e635;
            font-family: "Futura Demi C";
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.speaker {
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
}

.speaker-img {
  padding: 20px;
  background: #fff;
  margin: -53px 0;
  position: relative;
  &:before {
    content: "";
    width: 60px;
    height: calc(100% - 66px);
    background-color: #c5e635;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
    
  }
  &:after {
    content: "";
    width: 60px;
    height: calc(100% - 66px);
    background-color: #c5e635;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 108px;
    
  }
  img {
    width: 100%;
    
  }
}

.speaker-item {
  .title {
    letter-spacing: 2.7px;
    margin-bottom: 30px;
  }
  .name  {
    color: #b1cf2c;
    font-family: "Futura Demi C";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-bottom: 40px;
  }
  .speaker-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 445px;
    li {
      color: #000000;
      font-family: "Futura Demi C";
      font-size: 18px;
      font-weight: 400;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #c5e635;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
}

.go_through {
  background-image: url('../images/go_through.png');
  background-color: #2f2b2c;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 0 130px;
  .container {
    max-width: 980px;
  }
}

.go_through-title {
  color: #fff;
  margin-bottom: 30px;
}

.go_through-item {
  p {
    color: #ffffff;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.go_through-box {
  background: url('../images/dfaw8dw7.png') no-repeat center;
  min-height: 503px;
  max-width: 393px;
  margin: 0 auto;
  padding: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  img {
    margin-bottom: 60px;
  }
  p {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
  }
}

.skills {
  padding: 130px 0 90px;
  .container {
    max-width: 940px;
  }
}

.skills-title {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 60px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #c5e635;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

.guarantees {
  max-width: 1142px;
  margin: 0 auto 87px;
  background: url('../images/guarantees.png') no-repeat center;
  padding-top: 43px;
  
}

.guarantees-item {
  max-width: 473px;
  padding: 45px 40px 35px;
  border: 10px solid #ffffff;
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    max-width: 352px;
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}

.questions {
  background: url('../images/f.png') no-repeat center;
      background-size: cover;
    padding: 108px 0 108px;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  .container {
    max-width: 975px;
  }
  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 44px;
    .container {
      max-width: 1142px;
    }
  }
}

.questions-title {
  color: #ffffff;
  margin-bottom: 30px;
}

.questions-info {
  color: #ffffff;
font-family: "Futura Demi C";
font-size: 24px;
font-weight: 400;
  margin-bottom: 0;
}

.questions-form {
  background: url('../images/bf.png') no-repeat center;
  max-width: 360px;
  min-height: 345px;
  margin-left: auto;
  padding: 43px 39px;
  input {
    border: 2px solid #e6e6e6;
    background-color: transparent;
    text-align: center;
    padding: 15px 0 17px;
    margin-bottom: 8px;
    color: #ffffff;
    font-family: "Futura Demi C";
    font-size: 18px;
    width: 100%;
    font-weight: 400;
    display: block;
  }
  button {
    border: 0;
    color: #000000;
    font-family: "Futura Demi C";
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-top: 28px;
  }
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    &:first-child {
      margin-right: 20px;
    }
    a {
      color: #494846;
      font-family: "Futura Demi C";
      font-size: 18px;
      font-weight: 400;
      display: block;
      transition: 0.2s;
      &:hover {
        color: #fff;
      }
    }
  }
}

.modal {
  display: none;
  max-width: 768px;
}

.ml-auto {
  margin-left: auto;
}
